/*
Setup
*/
*{
    overflow: auto;
    scroll-behavior: smooth;
    background: #1e1e1e;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif; 
    cursor: none;
}

/*
Cursor
*/

.cursor{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ebe8e2;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 5;
}

body{
    margin: 0px 120px;
}

/*
Header 
*/

header{
    display: flex;
    align-items: center;
    margin-top: 72px;
}

li, a{
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    color: #B4B4B4;
    text-decoration: none;
    cursor: none;
}
.intro{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.intro-title{
    padding-right: 30%;

}
.intro-title h1{
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    color: #FFF;
}

.intro-description{
    padding-right: 40%;
}

.intro-description p{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 200;
    color: #B4B4B4;
}

.scroll-invit p{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    color: #B4B4B4;
}

/*
COUNTDOWN COVID
*/

.countdown-covid{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.countdown-covid-title h3{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    color: #FFF;
    text-align: center;
}

.realcountdown{
    text-align: center;
}

.countdown-covid-subtitle p{
    font-family: 'Poppins', sans-serif;
    margin-top: 180px;
    font-size: 18px;
    color: #B4B4B4;
    padding: 0px 160px;
    text-align: center;
}

/*
EDUCATION INFOS
*/

.section-education{
    margin-top: 180px;
    display: flex;
}

.section-education .education-infos h1{
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    color: #FFF;
}

.section-education .education-infos p{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 200;
    color: #B4B4B4;
}